{% extends 'Base.html' %}

{% block header %}
Enter to the personal account
{% endblock header %}

{% block content %}
<form method="post" action="{% url 'users:login' %}">
    {% csrf_token %}
    {% for i in form %}
    <div class="form-group row">
        <div class="col-2"></div>
        <label class="col-3 text-end col-form-label">{{ i.label }}</label>
        <div class="col-2">
            {{ i }}
        </div>
    </div>
    <br>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}