{% extends 'Base.html' %}

{% block header %}
Logging out
{% endblock header %}


{% block content %}

<h3>
You have successfully logged out of your account!
</h3>

{% endblock content %}

{% block button_header %}
<div class="col-6 text-end">
    <a href="{% url 'main_page:Home' %}" class="btn btn-outline-light">Main page</a>
</div>
<div class="col-6 text-start">
    <a class="btn btn-outline-light" type="button" href="{% url 'users:personal_account' %}">Log in</a>
</div>
{% endblock button_header %}