{% extends 'Base.html' %}

{% block content %}
{% if validlink %}
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group row">
        <div class="col-2"></div>
        <label class="col-3 text-end col-form-label">New password </label>
        <div class="col-2">
            {{ form.new_password1 }}
        </div>
        {% if form.new_password1.errors %}
        <div class="col-5 text-start text-warning">
            {{ form.new_password1.errors.0 }}
        </div>
        {% endif %}
    </div>
    <br>
    <div class="form-group row">
        <div class="col-2"></div>
        <label class="col-3 text-end col-form-label">Confirm password </label>
        <div class="col-2">
            {{ form.new_password2 }}
        </div>
        {% if form.new_password2.errors %}
        <div class="col-5 text-start text-warning">
            {{ form.new_password2.errors.0 }}
        </div>
        {% endif %}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock content %}


{% block button_header %}
<div class="col-6 text-end">
    <a href="{% url 'main_page:Home' %}" class="btn btn-outline-light">Main page</a>
</div>
<div class="col-6 text-start">
    <a class="btn btn-outline-light" href="{% url 'users:registration'%}">Register</a>
</div>
{% endblock %}


{% block header %}
<p>Set new password</p>
{% endblock header %}