{% extends 'Base.html' %}

{% block content %}

<form method="post">
    {% csrf_token %}
    {% for i in form %}
    <div class="form-group row">
        <div class="col-2"></div>
        <label class="col-3 text-end col-form-label">{{ i.label }}</label>
        <div class="col-2">
            {{ i }}
        </div>
        {% if i.errors %}
        <div class="col-5 text-start text-warning">
            {{ i.errors.0 }}
        </div>
        {% endif %}
    </div>
    <br>
    {% endfor %}
    <div class="row">
        <div class="col-12 text-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>

{% endblock %}


{% block button_header %}
<div class="col-6 text-end">
    <a href="{% url 'main_page:Home' %}" class="btn btn-outline-light">Main page</a>
</div>
<div class="col-6 text-start">
    <a class="btn btn-outline-light" href="{% url 'users:login'%}">Login</a>
</div>
{% endblock %}
