{% extends 'Base.html' %}

{% block header %}
<p>Успешная регистрация</p>
{% endblock header %}
{% block content %}
<p>Вы были успешно зарегистрированы. Теперь Вам доступен личный кабинет</p>
{% endblock content %}
{% block button_header %}
<div class="col-6 text-end">
    <a href="{% url 'main_page:Home' %}" class="btn btn-outline-light">Main page</a>
</div>
<div class="col-6 text-start">
    <a href="{% url 'users:default' %}" class="btn btn-outline-light">Personal account</a>
</div>

{% endblock button_header %}