{% extends 'Base.html' %}
{% block header %}
<p>Страница регистрации</p>
{% endblock %}
{% block content %}

<br>
<form action="" method="post" class="container-fluid">
{% csrf_token %}
    <div class="form-group row">
        <div class="col-4"></div>
        <label for="NameUser" class="col-sm-2 text-end col-form-label">Name</label>
        <div class="col-sm-3">
            <input type="text" id="NameUser" class="form-control" name="name" placeholder="Name">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-4"></div>
        <label for="SurnameUser" class="col-sm-2 text-end col-form-label">Surname</label>
        <div class="col-sm-3">
            <input type="text" id="SurnameUser" class="form-control" name="surname" placeholder="Surname">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <div class="col-4"></div>
        <label for="EmailUser" class="col-sm-2 text-end col-form-label">Email</label>
        <div class="col-sm-3">
            <input type="text" id="EmailUser" class="form-control" name="email" placeholder="Email">
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}