{% extends 'Base.html' %}
{% block header %}
<p>Личный кабинет</p>
{% endblock header %}


{% block content %}
<div class="container-fluid">
    <div class="row text-center">
        <h3>You are not logged in</h3>
    </div>
    <div class="row">
        <h4>To access your personal account and application services, you need to log in or register</h4>
    </div>
    <br>
    <div class="row">
        <div class="col-6 text-end">
            <a class="btn btn-outline-light" href="{% url 'users:registration'%}">Register</a>
        </div>
        <div class="col-6 text-start">
            <a class="btn btn-outline-light" href="{% url 'users:login'%}">Login</a>
        </div>
    </div>
    <br>
</div>
{% endblock content %}

{% block button_header %}
<div class="col-10 text-end">
    <a href="{% url 'main_page:Home' %}" class="btn btn-outline-light">Main page</a>
</div>
{% endblock button_header %}