{% extends 'Base.html' %}


{% block header %}
<p>Account</p>
{% endblock header %}


{% block content %}
{% if user.first_name is None %}
<h3>Welcome!</h3>
{% else %}
<h3>Welcome, {{ user.first_name }}!</h3>
{% endif %}
<h4>You have successfully logged into your account</h4>
{% endblock content %}


{% block button_header %}
<div class="col-4 text-end">
    <a href="{% url 'main_page:Home' %}" class="btn btn-outline-light">Main page</a>
</div>
<div class="col-2 text-center">
    <a href="{% url 'users:logout' %}" class="btn btn-outline-light">Log out</a>
</div>
<div class="col-4 text-start">
    <a href="{% url 'users:edit_profile' %}" class="btn btn-outline-light">Edit</a>
</div>
{% endblock button_header %}