{% extends 'Base.html' %}
{% block header %}
<p>Account</p>
{% endblock header %}

{% block content %}

<h3>Welcome, {{ user.username }}!</h3>
<h4>You have successfully logged into your account</h4>

<p>If you need, you can change your account <a href="{% url 'users:'%}">details</a></p>
{% endblock content %}

{% block button_header %}
<a href="{% url 'main_page:Home' %}" class="btn btn-outline-light">Main page</a>
<a href="{% url 'users:logout' %}" class="btn btn-outline-light">Log out</a>
{% endblock button_header %}