{% extends 'Base.html' %}


{% block header %}
<p>Account</p>
{% endblock header %}


{% block content %}
{% if user.username is None %}
<h3>Welcome!</h3>
{% else %}
<h3>Welcome, {{ user.username }}!</h3>
{% endif %}
<h4>You have successfully logged into your account</h4>
<br><br><br>
<p>You can change your personal data using <a href="users/PersonalAccount/changeDetails.html">this link
{% endblock content %}


{% block button_header %}
<div class="col-6 text-end">
    <a href="{% url 'main_page:Home' %}" class="btn btn-outline-light">Main page</a>
</div>
<div class="col-6 text-start">
    <a href="{% url 'users:logout' %}" class="btn btn-outline-light">Log out</a>
</div>
{% endblock button_header %}