<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Pastebin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script defer src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body style="background-color:#808080">
    <div class="container-fluid p-3 bg-secondary text-white text-center w-100px ">
        <div class="row">
            <div class="col-2">
            </div>
            <div class="col-2 text-end">
                <img src="{% static 'images/img.png'%}" width="100" height="100">
            </div>
            <div class="col-6 text-start">
            <h1>Pastebin</h1>
            <h6>
            {% block header %}
            {% endblock %}
            </h6>
            </div>
            <div class="col-2 text">
                <br>
                {% block button_header %}
                {% endblock button_header %}
            </div>

    </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Warning!</strong> {{ message }}.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}


    <div class="container-fluid bg-secondary text-white text-center border-top border-1">
        <br>
        {% block content %}
        {% endblock content %}
    </div>







    <div class="container-fluid bg-secondary text-white text-center border-top border-1 fixed-bottom">
        <div class="row">
            <div class="col-5 text-end">
                <a href="https://github.com/IlyaBudkovoy21"><img src="{% static 'images/img_2.png' %}" width=35 height=35></a>
            </div>
            <div class="col-5">
                <a href="https://vk.com/m_shrt_nm"><img src="{% static 'images/img_3.png' %}" width=35 height=35></a>
            </div>
        </div>
    </div>
</body>
</html>