{% extends 'Base.html' %}


{% block header %}
<p>Write your text and send it to anyone in just a couple of clicks!</p>
{% endblock %}


{% block stl %}
.fixed-textarea {
            width: 600px;
            height: 200px;
            resize: none;
        }
.mt-14 {
        margin-top: 14rem;
    }

{% endblock stl %}


{% block content %}
<form method="post" action="{% url 'main_page:Home' %}">
    {% csrf_token %}
    {% for i in form %}
    <div class="form-group">
        <div class="row my-3 mx-3">
        <div class="col text-start"><label>New paste</label></div>
            <div class="w-100"></div>
            <div class="col">{{ i }}</div>
        </div>
        <div class="row">
            <div class="col-3 text-start my-3 mx-5">
                <button type="submit" class="btn btn-primary">Create new paste</button>
            </div>
        </div>
    </div>
    {% endfor %}
</form>
{% endblock content %}


{% block button_header %}
    {% if user.is_authenticated %}
        <div class="col-10 text-end">
            <a class="btn btn-outline-light" type="button" href="{% url 'users:personal_account' %}">Account</a>
        </div>
    {% else %}
        <div class="col-10 text-end">
            <a class="btn btn-outline-light" type="button" href="{% url 'users:personal_account' %}">Log in</a>
        </div>
    {% endif %}
{% endblock button_header %}